<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit a Contact</h1>

    <form action='/contacts/<%= @contact.id %>' method='post'>
      <input type='hidden' name='_method' value='put'>
      <input type='text' name='first_name' value='<%= @contact.first_name %>'>
      <input type='text' name='last_name' value='<%= @contact.last_name %>'>
      <input type='text' name='email' value='<%= @contact.email %>'>
      <input type='text' name='note' value='<%= @contact.note %>'>
      <input type='submit' value='Edit Contact'>
    </form>
  </body>
</html>
